{
  "openapi": "3.1.0",
  "info": {
    "title": "Rivin.ai Walmart API",
    "description": "API for retrieving Walmart product information, price history, and managing oversight tracking",
    "license": {
      "name": "MIT"
    },
      "version": "1.0.0"
},
  "servers": [
    {
      "url": "https://rivin.ai/api",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/walmart/product/details": {
      "get": {
        "summary": "Get Walmart Product Details",
        "description": "This endpoint accepts a UPC, EAN, or Walmart product code and returns the matching Walmart product listing with basic product data.",
        "operationId": "getWalmartProductDetails",
        "tags": ["Walmart Products"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Your unique API key for authentication. This key is required in the header of all API requests, to authenticate your account and access Rivin.ai's services. Get your API key through the [Settings](https://rivin.ai/settings) page.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upc",
            "in": "query",
            "description": "The 12-digit universal product code (upc) that will be used to search Walmart's catalog.",
            "schema": {
              "type": "string"
            },
            "example": "040094535309"
          },
          {
            "name": "ean",
            "in": "query",
            "description": "The 13-digit european article number (ean) that will be used to search Walmart's catalog.",
            "schema": {
              "type": "string"
            },
            "example": "0400945353092"
          },
          {
            "name": "walmart_product_code",
            "in": "query",
            "description": "The (typically) 6-12 digit walmart product_code that will be used to search Walmart's catalog.\n\n\nNote: This endpoint accepts one of three identifier types (UPC, EAN, or Walmart product code). Only one parameter should be provided per request.",
            "schema": {
              "type": "string"
            },
            "example": "1288567194"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalmartProduct"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/walmart/product/price-history": {
      "get": {
        "summary": "Get Walmart Product Price History",
        "description": "This endpoint accepts a Walmart product code and returns an array of the price history.",
        "operationId": "getWalmartProductPriceHistory",
        "tags": ["Walmart Products"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Your unique API key for authentication. This key is required in the header of all API requests, to authenticate your account and access Rivin.ai's services. Get your API key through the [Settings](https://rivin.ai/settings) page.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walmart_product_code",
            "in": "query",
            "description": "The (typically) 6-12 digit walmart product code that will be used to search Walmart's catalog.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1370971228"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceHistory"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/walmart/oversight/products": {
      "post": {
        "summary": "Add Walmart Product To Oversight Tracking",
        "description": "This endpoint adds a product to a user's tracked products in Rivin.ai's Oversight product.",
        "operationId": "addWalmartOversightProduct",
        "tags": ["Walmart Oversight"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Your unique API key for authentication. This key is required in the header of all API requests, to authenticate your account and access Rivin.ai's services. Get your API key through the [Settings](https://rivin.ai/settings) page.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Product to add to oversight tracking",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OversightProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Product added to oversight tracking",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OversightProduct"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get List of Currently Tracked Oversight Products",
        "description": "This endpoint returns a list of all products currently being tracked in oversight for the authenticated user.",
        "operationId": "getWalmartOversightProducts",
        "tags": ["Walmart Oversight"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Your unique API key for authentication. This key is required in the header of all API requests, to authenticate your account and access Rivin.ai's services. Get your API key through the [Settings](https://rivin.ai/settings) page.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OversightProduct"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/walmart/oversight/products/{id}": {
      "delete": {
        "summary": "Delete Walmart Product From Oversight Tracking",
        "description": "This endpoint deletes a product from a user's tracked products in Rivin.ai's Oversight Tracking.",
        "operationId": "deleteWalmartOversightProduct",
        "tags": ["Walmart Oversight"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Your unique API key for authentication. This key is required in the header of all API requests, to authenticate your account and access Rivin.ai's services. Get your API key through the [Settings](https://rivin.ai/settings) page.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the oversight product to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Product deleted from oversight tracking"
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Oversight Data for Specific Product",
        "description": "This endpoint returns detailed oversight tracking data for a specific product.",
        "operationId": "getWalmartOversightProduct",
        "tags": ["Walmart Oversight"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Your unique API key for authentication. This key is required in the header of all API requests, to authenticate your account and access Rivin.ai's services. Get your API key through the [Settings](https://rivin.ai/settings) page.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the oversight product to retrieve data for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OversightProductData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid product ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/walmart/product/units-in-stock": {
      "get": {
        "summary": "Get Units In Stock Per Seller",
        "description": "This endpoint returns the current inventory levels for each seller of a specific Walmart product.",
        "operationId": "getWalmartProductUnitsInStock",
        "tags": ["Walmart Products"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Your unique API key for authentication. This key is required in the header of all API requests, to authenticate your account and access Rivin.ai's services. Get your API key through the [Settings](https://rivin.ai/settings) page.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walmart_product_code",
            "in": "query",
            "description": "The Walmart product code to get inventory information for.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1370971228"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitsInStock"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid product code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/walmart/product/fees": {
      "get": {
        "summary": "Get Walmart Fees for a Product",
        "description": "This endpoint returns the various fees associated with selling a specific Walmart product.",
        "operationId": "getWalmartProductFees",
        "tags": ["Walmart Products"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Your unique API key for authentication. This key is required in the header of all API requests, to authenticate your account and access Rivin.ai's services. Get your API key through the [Settings](https://rivin.ai/settings) page.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walmart_product_code",
            "in": "query",
            "description": "The Walmart product code to get fee information for.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1370971228"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductFees"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid product code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/walmart/product/units-sold-history": {
      "get": {
        "summary": "Get Units Sold History Estimate",
        "description": "This endpoint returns estimated sales history for a specific Walmart product.",
        "operationId": "getWalmartProductUnitsSoldHistory",
        "tags": ["Walmart Products"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Your unique API key for authentication. This key is required in the header of all API requests, to authenticate your account and access Rivin.ai's services. Get your API key through the [Settings](https://rivin.ai/settings) page.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walmart_product_code",
            "in": "query",
            "description": "The Walmart product code to get sales history for.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1370971228"
          },
          {
            "name": "time_period",
            "in": "query",
            "description": "The time period for sales history data. Different periods have different credit costs: 1 month (5 credits), 6 months (25 credits), 1 year (50 credits), 3 years (100 credits), all time (150 credits).",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["1month", "6months", "1year", "3years", "alltime"]
            },
            "example": "6months"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitsSoldHistory"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid product code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/credits": {
      "get": {
        "summary": "Get User Credit Information",
        "description": "This endpoint allows users to query their remaining credits and billing period information. It requires a valid API key and returns comprehensive credit usage information.",
        "operationId": "getUserCredits",
        "tags": ["User Endpoints"],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Your unique API key for authentication. This key is required in the header of all API requests, to authenticate your account and access Rivin.ai's services. Get your API key through the [Settings](https://rivin.ai/settings) page.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCredits"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found or credit information not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WalmartProduct": {
        "type": "object",
        "properties": {
          "upc": {
            "description": "The 12-digit universal product code (upc).",
            "type": "string"
          },
          "ean": {
            "description": "The 13-digit european article number(ean).",
            "type": "string"
          },
          "walmart_product_code": {
            "description": "The (typically) 6-12 digit walmart product code.",
            "type": "string"
          },
          "brand": {
            "description": "The brand of the product",
            "type": "string"
          },
          "title": {
            "description": "The title/name of the product",
            "type": "string"
          },
          "categories": {
            "description": "The categories Walmart categorizes the product into. This includes the main category all the way down to sub-categories.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "product_type": {
            "description": "The product type Walmart categorizes the product into. This is usually the last or second to last Walmart category.",
            "type": "string"
          },
          "buybox_price": {
            "description": "The current price of the product buybox in USD down to the nearest cent.",
            "type": "number",
            "format": "float"
          },
          "customer_rating": {
            "description": "The customer rating between 1 to 5 stars.",
            "type": "string"
          },
          "number_of_reviews": {
            "description": "The number of reviews.",
            "type": "string"
          }
        }
      },
      "PriceHistory": {
        "type": "object",
        "properties": {
          "upc": {
            "description": "The 12-digit universal product code (upc).",
            "type": "string"
          },
          "ean": {
            "description": "The 13-digit european article number(ean).",
            "type": "string"
          },
          "walmart_product_code": {
            "description": "The (typically) 6-12 digit walmart product code.",
            "type": "string"
          },
          "price_history": {
            "description": "Array of price history data",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "price": {
                  "type": "number",
                  "format": "float"
                }
              }
            }
          }
        }
      },
      "OversightProduct": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the oversight product",
            "type": "string"
          },
          "walmart_product_code": {
            "description": "The Walmart product code being tracked",
            "type": "string"
          },
          "user_id": {
            "description": "The user ID who is tracking this product",
            "type": "string"
          },
          "created_at": {
            "description": "When the product was added to oversight",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UnitsInStock": {
        "type": "object",
        "properties": {
          "walmart_product_code": {
            "description": "The Walmart product code.",
            "type": "string"
          },
          "sellers": {
            "description": "Array of seller inventory information",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "seller_name": {
                  "type": "string",
                  "description": "Name of the seller"
                },
                "units_in_stock": {
                  "type": "integer",
                  "description": "Number of units currently in stock"
                },
                "last_updated": {
                  "type": "string",
                  "format": "date-time",
                  "description": "When the inventory was last updated"
                }
              }
            }
          }
        }
      },
      "ProductFees": {
        "type": "object",
        "properties": {
          "walmart_product_code": {
            "description": "The Walmart product code.",
            "type": "string"
          },
          "referral_fee": {
            "type": "number",
            "format": "float",
            "description": "Referral fee percentage"
          },
          "closing_fee": {
            "type": "number",
            "format": "float",
            "description": "Closing fee amount"
          },
          "shipping_fee": {
            "type": "number",
            "format": "float",
            "description": "Shipping fee amount"
          },
          "total_fees": {
            "type": "number",
            "format": "float",
            "description": "Total fees for the product"
          }
        }
      },
      "UnitsSoldHistory": {
        "type": "object",
        "properties": {
          "walmart_product_code": {
            "description": "The Walmart product code.",
            "type": "string"
          },
          "time_period": {
            "description": "The time period for which sales history was requested",
            "type": "string",
            "enum": ["1month", "6months", "1year", "3years", "alltime"]
          },
          "credit_cost": {
            "description": "The number of credits consumed for this request",
            "type": "integer"
          },
          "sales_history": {
            "description": "Array of sales data over time",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date",
                  "description": "Date of the sales data"
                },
                "units_sold": {
                  "type": "integer",
                  "description": "Estimated units sold on that date"
                }
              }
            }
          }
        }
      },
      "OversightProductData": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the oversight product",
            "type": "string"
          },
          "walmart_product_code": {
            "description": "The Walmart product code being tracked",
            "type": "string"
          },
          "user_id": {
            "description": "The user ID who is tracking this product",
            "type": "string"
          },
          "created_at": {
            "description": "When the product was added to oversight",
            "type": "string",
            "format": "date-time"
          },
          "tracking_data": {
            "description": "Current tracking data for the product",
            "type": "object",
            "properties": {
              "current_price": {
                "type": "number",
                "format": "float",
                "description": "Current product price"
              },
              "units_in_stock": {
                "type": "integer",
                "description": "Current units in stock"
              },
              "last_updated": {
                "type": "string",
                "format": "date-time",
                "description": "When the data was last updated"
              }
            }
          }
        }
      },
      "UserCredits": {
        "type": "object",
        "properties": {
          "user_email": {
            "description": "The email address of the user",
            "type": "string",
            "format": "email"
          },
          "credits": {
            "description": "Credit usage information",
            "type": "object",
            "properties": {
              "total": {
                "description": "Total monthly credit allocation",
                "type": "integer"
              },
              "used_this_month": {
                "description": "Number of credits consumed in the current billing period",
                "type": "integer"
              },
              "remaining": {
                "description": "Credits remaining for the current billing period",
                "type": "integer"
              },
              "usage_percentage": {
                "description": "Percentage of credits used (0-100)",
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              }
            },
            "required": ["total", "used_this_month", "remaining", "usage_percentage"]
          },
          "billing_period": {
            "description": "Billing period information",
            "type": "object",
            "properties": {
              "current_period_start": {
                "description": "Start date of the current billing period",
                "type": "string",
                "format": "date-time"
              },
              "next_refresh_date": {
                "description": "When credits will refresh (next billing cycle)",
                "type": "string",
                "format": "date-time"
              },
              "days_until_refresh": {
                "description": "Number of days until the next credit refresh",
                "type": "integer",
                "minimum": 0
              }
            },
            "required": ["current_period_start", "next_refresh_date", "days_until_refresh"]
          },
          "account_info": {
            "description": "Account information",
            "type": "object",
            "properties": {
              "created_at": {
                "description": "When the account was created",
                "type": "string",
                "format": "date-time"
              },
              "last_updated": {
                "description": "When the data was last updated",
                "type": "string",
                "format": "date-time"
              }
            },
            "required": ["created_at", "last_updated"]
          }
        },
        "required": ["user_email", "credits", "billing_period", "account_info"]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}