{
  "openapi": "3.1.0",
  "info": {
    "title": "Rivin.ai Walmart API",
    "description": "API for retrieving Walmart product information, price history, and managing oversight tracking",
    "license": {
      "name": "MIT"
    },
      "version": "1.0.0"
},
  "servers": [
    {
      "url": "https://rivin.ai/api",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/walmart/product/details": {
      "get": {
        "summary": "Get Walmart Product Details",
        "description": "This endpoint accepts a UPC, EAN, or Walmart product code and returns the matching Walmart product listing with basic product data.",
        "operationId": "getWalmartProductDetails",
        "tags": ["Walmart Products"],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "upc",
            "in": "query",
            "description": "The 12-digit universal product code (upc) that will be used to search Walmart's catalog.",
            "schema": {
              "type": "string"
            },
            "example": "040094535309"
          },
          {
            "name": "ean",
            "in": "query",
            "description": "The 13-digit european article number (ean) that will be used to search Walmart's catalog.",
            "schema": {
              "type": "string"
            },
            "example": "0400945353092"
          },
          {
            "name": "walmart_product_code",
            "in": "query",
            "description": "The (typically) 6-12 digit walmart product_code that will be used to search Walmart's catalog.\n\n\nNote: This endpoint accepts one of three identifier types (UPC, EAN, or Walmart product code). Only one parameter should be provided per request.",
            "schema": {
              "type": "string"
            },
            "example": "1288567194"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalmartProduct"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/walmart/product/price-history": {
      "get": {
        "summary": "Get Walmart Product Price History",
        "description": "This endpoint accepts a Walmart product code and returns an array of the price history.",
        "operationId": "getWalmartProductPriceHistory",
        "tags": ["Walmart Products"],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "walmart_product_code",
            "in": "query",
            "description": "The (typically) 6-12 digit walmart product code that will be used to search Walmart's catalog.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1370971228"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceHistory"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/walmart/oversight/product": {
      "post": {
        "summary": "Add Walmart Product To Oversight Tracking",
        "description": "This endpoint adds a product to a user's tracked products in Rivin.ai's Oversight product.",
        "operationId": "addWalmartOversightProduct",
        "tags": ["Walmart Oversight"],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Product to add to oversight tracking",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OversightProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Product added to oversight tracking",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OversightProduct"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Walmart Product From Oversight Tracking",
        "description": "This endpoint deletes a product from a user's tracked products in Rivin.ai's Oversight product.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the oversight product to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Product deleted from oversight tracking"
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WalmartProduct": {
        "type": "object",
        "properties": {
          "upc": {
            "description": "The 12-digit universal product code (upc).",
            "type": "string"
          },
          "ean": {
            "description": "The 13-digit european article number(ean).",
            "type": "string"
          },
          "walmart_product_code": {
            "description": "The (typically) 6-12 digit walmart product code.",
            "type": "string"
          },
          "brand": {
            "description": "The brand of the product",
            "type": "string"
          },
          "title": {
            "description": "The title/name of the product",
            "type": "string"
          },
          "categories": {
            "description": "The categories Walmart categorizes the product into. This includes the main category all the way down to sub-categories.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "product_type": {
            "description": "The product type Walmart categorizes the product into. This is usually the last or second to last Walmart category.",
            "type": "string"
          },
          "buybox_price": {
            "description": "The current price of the product buybox in USD down to the nearest cent.",
            "type": "number",
            "format": "float"
          },
          "customer_rating": {
            "description": "The customer rating between 1 to 5 stars.",
            "type": "string"
          },
          "number_of_reviews": {
            "description": "The number of reviews.",
            "type": "string"
          }
        }
      },
      "PriceHistory": {
        "type": "object",
        "properties": {
          "upc": {
            "description": "The 12-digit universal product code (upc).",
            "type": "string"
          },
          "ean": {
            "description": "The 13-digit european article number(ean).",
            "type": "string"
          },
          "walmart_product_code": {
            "description": "The (typically) 6-12 digit walmart product code.",
            "type": "string"
          },
          "price_history": {
            "description": "Array of price history data",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "price": {
                  "type": "number",
                  "format": "float"
                }
              }
            }
          }
        }
      },
      "OversightProduct": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the oversight product",
            "type": "string"
          },
          "walmart_product_code": {
            "description": "The Walmart product code being tracked",
            "type": "string"
          },
          "user_id": {
            "description": "The user ID who is tracking this product",
            "type": "string"
          },
          "created_at": {
            "description": "When the product was added to oversight",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}